@import "foundation.css";

/********* TOP BAR *********/

/* Changes background color of the top bar */
.top-bar {
    background: #333333;
}

/* Color of text in top bar */
.top-bar ul li a {
	color: white;
	font-weight: 200;
	font-size: 0.8rem;
}

/* Color of the title text in the top bar */
.top-bar .name h1 a {
	color: white;
}

/* Color of the title text in the top bar on hover */
.top-bar .name h1 a:hover {
	background: #333333;
	color: #d6d6d6;
}

.top-bar img {
	height: 30px;
}

/* Active button in menu */
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #5b5b5b;
}

/* Hover on the buttons */
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #333333;
	color: #d6d6d6;
}

/* Hover on the active button */
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #5b5b5b;
}

/* h1 in top bar */
h1.topbar {
	padding-top: 0px;
	background: #333333;
}

/********** BODY *********/

body {
	background: black;
}

h1 {
	font-size: 3.5em;
	color: white;
	font-weight: lighter;
	margin-bottom: 25px;
	padding-top: 1.5rem;
}


@media (max-width: 350px) {
	 h1 {
		font-size: 3em;
	}
}

h2 {
	font-size: 2.6em;
	color: white;
	font-weight: lighter;
	padding-top: 1.5rem;
}

p {
	font-size: 1.3em;
	color: white;
	font-weight: lighter;
}

p.lead {
	font-size: 1.5em;
	color: white;
	font-weight: lighter;
}


/* Make rows cover the whole width of the browser */
.row.full-width {
     width: 100%;
     max-width: 100%; 
}

.panel {
	background: rgba(0,0,0,0.65);
}

.panel h1 {
	font-weight: 200;
	font-size: 3.5rem;
	padding-top: 0rem;
	font-weight: lighter;
	color: white;
}

.panel h2 {
	font-size: 2.6rem;
	color: white;
	font-weight: lighter;
	padding-top: 0rem;
}

.panel p {
	font-size: 1.3rem;
	font-weight: lighter;
	color: white;
}

@media (max-width: 350px) {
	.panel {
		margin-top: 20px;
	}
	.panel h2 {
		font-size: 2.2rem;
		color: white;
		font-weight: lighter;
		padding-top: 1.5rem;
	}

	.panel p {
		font-size: 1.2rem;
		font-weight: lighter;
		color: white;
	}
}


.panel img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: white;
	border-style: solid;
	border-width: thin;
	margin-bottom: 0.9rem;
}

.bottom {
	position: fixed;
	bottom: 0px;
}

/* FOOTER */
.footer {
	background: #333333;
	color: white;
    position: bottom fixed;
    line-height: 50px;
    width: 100%;
    padding: 5px;
    padding-left: 1.3rem;	
    padding-right: 1.3rem;
}

.footer a {
	color: white;
	font-size: 0.8rem;
	font-weight: 200;
}

.footer a:hover {
	color: #d6d6d6;
}

.footericon {
	font-size: 2rem;
	padding: 0.2rem;
}

/* END FOOTER*/


.wrapper1 {
    background: url("../img/seed.jpg") left center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}

@media (min-height: 600px) {
	.wrapper1 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.wrapper2 {
    background: url("../img/wood.jpg") left center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}

@media (min-height: 600px) {
	.wrapper2 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}


/* ALIGNMENT */

.alignright {
	text-align: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.vcenter {
	margin-top: auto;
	margin-bottom: auto;
}